<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco</title>
</head>
<body>

    <h1>welcome to taco</h1>
    <img th:src="@{/images/taco.png}" alt="taco"/>
    <br/>
    <a th:href="@{/design}">Design your taco!</a>
    <br/>

    <!-- logout 버튼 -->
    <form method="post" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>

    <a th:href="@{/design}" id="design">Design a taco</a>

</body>
</html>